body {
    background-color: #B6D0E2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageTitle {
    
}

#theForm {
    display: none;
    flex-direction: column;
    width: fit-content;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 2px 4px black;
}

#checkers {
    display: flex;
    flex-direction: row;
}

#newBook {
    width: fit-content;
    padding: 6px;
    background-color: antiquewhite;
    border-radius: 6px;
    margin: 4px;
}

#formSubmit {
    width: fit-content;
    padding: 6px;
    background-color: antiquewhite;
    border-radius: 6px;
    margin-top: 12px;
}

#cardDisplay {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-left: 4px solid darkblue;
    border-radius: 16px;
    box-shadow: 2px 4px gray;
    background-color: white;
    padding: 12px;
    margin: 24px;
}

.card button {
    width: fit-content;
    padding: 6px;
    background-color: antiquewhite;
    border-radius: 6px;
    margin-top: 6px;
}